*{
  padding: 0px;
  margin: 0px;
  font-family: 'Times New Roman', Times, serif;
}
nav{
  display: flex;
  color: green;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
}

nav div img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.overallbox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background-color: black;
}

.login-container {
  color: black;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 350px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: black;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

.input-group input {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
}

.loginbtn{
  width: 40%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.loginbtn:hover {
  background-color: #0056b3;
}

.login-container img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

footer {
  text-align: center;
  margin-top:20px;
  background-color: white;
  color: green;
  width: 100%;
  bottom: 0;
}
